<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Source+Sans+Pro" rel="stylesheet">
<script>
  window.mainsplashpic = "<%= asset_path('home_illo@2x.png') %>"
  window.slacklogo = "<%= asset_path('slack-1.svg') %>"
  window.github = "<%= asset_path('GitHub-Mark-64px.png') %>"
  window.linkedin = "<%= asset_path('Logo-LinkedIn.jpg') %>"
  window.oneicon = "<%= asset_path('1icon.svg') %>"
  window.twoicon = "<%= asset_path('2icon.svg') %>"
  window.threeicon = "<%= asset_path('3icon.svg') %>"
  window.fouricon = "<%= asset_path('4icon.svg') %>"
  window.fiveicon = "<%= asset_path('5icon.svg') %>"
  window.sixicon = "<%= asset_path('6icon.svg') %>"
  window.sevenicon = "<%= asset_path('7icon.svg') %>"
  window.eighticon = "<%= asset_path('8icon.svg') %>"
  window.nineicon = "<%= asset_path('9icon.svg') %>"
</script>
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root">
  <h1>React will go here.<h1>
</main>
